

.buyer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}



/* Loader styles */
.loader {
  height: 100vh;
  width: 100%;
  background-image: url(../Assets/loader.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffca03;
}



/* Search input styles */
.search {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 1fr)); /* 2-column layout */
  gap: 15px;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  
}

/* Input field styles */
.search input {
  width: 100%;
  padding: 12px;
  border-radius: 20px;
  background-color: #ffea00be;
  color: black;
  border: none;
  font-size: 16px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  
}

/* Button styles */
.search button {
  grid-column: span 2; /* Button takes full width */
  padding: 12px;
  background-color: #ffa200;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  color: black;
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

/* Hover effects */
.search button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
  transform: scale(1.05);
}

.search-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
  margin-top: 85px;
  position: relative;
  letter-spacing: 1px;
 
}

/* Underline Effect */
.search-title::after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background-color: #ffa200;
  margin: 8px auto 0;
  border-radius: 2px;
}

/* Responsive Design */
@media (max-width: 600px) {
  .search-title {
    font-size: 20px;
  }
}




/* Media queries for responsive design */
@media (max-width: 1200px), (max-width: 768px), (max-width: 488px) {
  .buyer-card {
    width: 100%;
    max-width: 100%;
  }
}


